body {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: #FF525E;
    width: 300px;
    height: 280px;
    border-radius: 5px;
    position: relative;
}

.container-image {
    height: 270px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #989898 100%), url("img/background-photo.jpg") no-repeat center;
    background-size: 402px 270px;
    display: flex;
    align-items: flex-end;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.container-titles {
    padding-left: 20px;
    padding-bottom: 20px;
}

.container-titles-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.button {
    background: none;
    font-family: inherit;
    font-size: 20px;
    color: #4A4A4A;
    border: none;
    cursor: pointer;
    outline: inherit;
    padding: 10px 20px;
    background-color: #FFFFFF;
    margin-top: 20px;
}

/* When hover */

.container-titles-hover:hover ~ .container-image .container-titles {
    opacity: 0;
}

.container-titles-hover:hover {
    opacity: 1;
    background-color: rgba(255, 82, 94, 0.7);
}

/* typography */

.title-lg {
    font-size: 24px;
    line-height: 27px;
    color : #FFFFFF;
    margin: 0;
    font-weight: 600;
}

.title-md {
    font-family: 'Times New Roman', Times, serif;
    color : #FFFFFF;
    line-height: 22px;
    font-size: 18px;
    margin: 0;
    font-style: italic;
}

